.graph-title{
  color: #6200EE;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  line-height: 1.2;
  animation: moveInLeft 2s ease-out;
}
@keyframes  moveInLeft{

  0%{
    opacity: 0;
    transform: translateX(100px);
  }
  60%{
    opacity: 1;
    transform: translateX(-10px);
  }
  80%{
    opacity: 0.8;
    transform: translateX(10px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}